@import '../../../less/variables';

.add-image {
  margin: auto;
  text-align: center;
  color: @addImageText;
  border-color: @addImageText;
  text-transform: uppercase;
  border-radius: 9px;
  height: 521px;
  width: 800px;
  border-style: dashed;
  cursor: pointer;

  .text-in-add-image {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
  }

  .material-icons {
    font-size: 250px;
  }

  .input-img {
    display: none;
  }

  &:hover {
    background-color: @hoverBack;
  }

  &.active {
    border: solid @activeText;
    background-color: @backGround;
    color: @activeText;
  }

  &.red {
    border: solid @redBord;
    color: @redCol;
  }
}
