<button class="add-image"
        appFileDrop
        (filesDropped)="handleDrop($event)"
        (filesHovered)="dropzoneState($event)"
        [class.active]="dropzoneActive"
        [class.red]="dropzoneRed"
        (click)="inputImg.click()" mat-button>
  <input (change)="checkingFile(inputImg.files.item(0))" #inputImg class="input-img" type="file"
         accept=".jpg, .jpeg, .png"/>

  <span class="text-in-add-image">
<i class="material-icons">
add_photo_alternate
</i>
      <span i18n="@@addPicture">add picture</span>
    </span>
</button>
