@import '../../../less/variables';

.wraper-img {
  text-align: center;
  margin: auto;
  background-size: cover;
}

.som {
  display: none;
  visibility: hidden;
}

.wrapper-photo {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  position: relative;

  .image-of-event {
    position: relative;
    border-radius: 2px;
    margin: auto;
    object-fit: cover;
    cursor: pointer;
    height: 300px;
    width: 100%;
    background-size: cover;
    display: inline-block;
    background: center;
  }

  &:hover {
    .som {
      visibility: visible;
      animation-duration: 501ms;
      animation-name: mymove;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      height: 100px;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      display: flex;

      .text-cont {
        margin: auto;

        .material-icons {
          width: 100%;
          color: white;
        }

        .label-in-image {
          width: 100%;
          text-transform: uppercase;
          color: white;


        }
      }

      &:hover {
        opacity: 0.7;

        .material-icons {
          font-size: 28px;
        }

        font-size: 18px;
      }
    }


    @keyframes mymove {
      from {
        opacity: 0;
      }

      to {
        opacity: 0.5
      }

    }
  }
}

