<div class="wraper-img">
  <div class="wrapper-photo" [style.display]="url ? 'grid' : 'none'">
    <img (click)="openDialog(true)" *ngIf="url" class="image-of-event" [src]='url.downloadUri' alt="your image">
    <div (click)="openDialog(false)" class="som">
      <span class="text-cont">
      <i class="material-icons">
      add_photo_alternate
    </i>
      <label class="label-in-image" i18n="@@addPicture">
        add picture
      </label>
        </span>
    </div>
  </div>

</div>
