<gallery #gallery
         *ngIf="this.data.openPhoto && !image && images.length!==0"
         [items]="images"
         [dots]="true"
         [thumb]="false"
         (indexChange)="changeIdOfOpenedImage($event)"
></gallery>
<div class="wrapper-photo" *ngIf="image && this.data.openPhoto">
  <div class="image-container">
    <img *ngIf="url"
         class="image-of-event" src="{{url.downloadUri}}">
    <button (click)="clear()" [style.display]="data.openPhoto ? 'flex' : 'none'" color="warn" mat-mini-fab
            class="close-photo">
      <i class="material-icons">
        close
      </i></button>
  </div>
</div>
<input (change)="processing(inputImg.files.item(0))" #inputImg class="input-img" type="file"
       accept=".jpg, .jpeg, .png"/>
<div class="wrapper-button" *ngIf="image ">
  <button (click)="upload()" class="upload-button" mat-button i18n="@@streamSave">Save</button>
  <button (click)="close()" class="cancel-button" mat-button i18n="@@closePhoto">Close</button>
</div>
<div class="wrapper-button" *ngIf="data.event.attachments.length!==0 && this.data.openPhoto && !image">
  <button (click)="close()" class="cancel-button" mat-button i18n="@@closePhoto">Close</button>
  <button (click)="delete()" class="remove" mat-button i18n="@@deletePhoto">delete</button>
  <button (click)="add()" class="upload-button" mat-button i18n="@@addPicture">add picture</button>
</div>
<div class="wrapper-button" *ngIf="!this.data.openPhoto">
  <app-add-photo (image)="processing($event)"></app-add-photo>
</div>
