@import '../../../less/variables';
gallery {
  background-color: white;
}
::ng-deep .g-dot-inner{
  background-color: @blackColour !important;
}
.wrapper-photo {
  height: 485px;
  width: 800px;
  display: flex;
  position: relative;

  &:hover::before {
    position: absolute;
    color: white;
    right: 50%;
    top: 50%;
  }

  .image-of-event {
    object-fit: cover;
    max-height: 485px;
    max-width: 800px;
    background-size: cover;
    display: inline-block;
    background: center/cover no-repeat;

  }

}

.lister {
  .list-photo {
    background-color: black;
    opacity: 0.5;
  display: none;
  }
  .slider{
    display: none;
  }
  .slider{
    display: none;
  }
    &:hover {
      .left {
      left: 0;
    }
      .right{
        i {
          padding-left: 3px;
        }
        right: 0;
      }
      .slider {
        opacity: 0.5;
        height: 35px;
        width: 35px;
        background-color: @blackColour;
        top: 50%;
        position: absolute;

        display: flex;
        border-radius: 50%;
      i {
        font-size: 30px;
        margin: auto;
          color: @whiteColour;
      }
      }
    .list-photo {
      cursor: pointer;
      height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;

      .wrapper-mini {
        margin: auto;
        display: flex;

        ul {
          margin: 0;
          list-style: none;
          padding-right: 2px;

          li {
            display: flex;

            img {
              opacity: 0.7;
              margin: auto;
            }
          }
        }

        .text-cont {
          margin: auto;

          .material-icons {
            width: 100%;
            color: white;
          }

          .label-in-image {
            width: 100%;
            text-transform: uppercase;
            color: white;
          }
        }

        .min-photo {
          object-fit: cover;
          height: 100px;
          max-width: 150px;
          background-size: cover;
          display: inline-block;
          background: center/cover no-repeat;
        }
      }
    }
  }
}

.photo-container {
  margin: auto;
  display: inline-block;
}

.image-container {
  position: relative;
  margin: auto;
  display: inline-block;

  .close-photo {
    margin-left: -26px;
    margin-top: 1px;
    left: 100%;
    top: 0;
    position: absolute;
  }

  ::ng-deep .mat-mini-fab .mat-button-wrapper {

    margin: auto;
    padding: 0;
  }

  .mat-mini-fab {
    display: flex;
    height: 26px;
    width: 26px;
    background-color: black;
    opacity: 0.5;

    .material-icons {
      font-size: 22px;
      margin: auto;
      padding-bottom: 1px;
      padding-left: 1px;
    }
  }

}

.add-image {
  margin: auto;
  display: inline-grid;
  text-align: center;
  color: gray;
  border-color: gray;
  text-transform: uppercase;
  border-radius: 9px;
  height: 300px;
  width: 300px;
  border-style: dashed;
  cursor: pointer;

  .text-in-add-image {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
  }

  .material-icons {
    font-size: 100px;
  }
}

.input-img {
  display: none;
}

.wrapper-button {
  margin-top: 2px;

  .upload-button {
    background-color: @uploadButton;
    color: @whiteColour;
    border-radius: 2px;
    height: 38px;
    text-transform: uppercase;
    margin: 5px;

    &:hover {
      background-color: @buttonPrimary;
    }
  }

  .change-button {
    background-color: @backgroundBlueColor;
    color: @whiteColour;
    border-radius: 2px;
    height: 38px;
    text-transform: uppercase;
    margin: 5px;

    &:hover {
      background-color: @buttonPrimary;
    }
  }

  .cancel-button {
    float: right;
    background-color: @negativeDialog;
    color: @backgroundBlueColor;
    border-radius: 2px;
    width: 112px;
    height: 38px;
    text-transform: uppercase;
    margin: 5px;

    &:hover {
      background-color: @cancelButton;
    }
  }

  .remove {
    //background-color: @negativeDialog;
    float: right;
    color: @secondaryTextColor;
    border-radius: 2px;
    width: 112px;
    height: 38px;
    text-transform: uppercase;
    margin: 5px;

    &:hover {
      background: @removeBtnBackgroundColor;
      color: @removeBtnTextColor;
    }

    ::ng-deep {
      .mat-button-focus-overlay {
        background: transparent;
      }
    }
  }
}
//d http://localhost:8080/api/attachment/download/503/nevada_endless_road_bw%20(1).jpg
