@import '../../../less/variables';
.button-style {
  display: inline-block;
  background-color: @backgroundBlueColor;
  color: @whiteColour;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  width: 195px;
  &:hover{
    background-color: @buttonPrimary;
  }
  span{
    margin-left: 10px;
    font-size: 12px;

  }
  .material-icons {
    font-size: 22px;
  }
}
