<div class="qr-container">
  <div class="wrapper-qr">

    <img *ngIf="qrImage" class="qr-of-event" src="{{qrImage}}" alt="your image">
  </div>
  <div class="link-qr">
    <a class="image-to-download" href="{{downloadLink}}" i18n="@@qrCodeLink">Download QR code for event registration</a>
  </div>
</div>
