@import '../../../less/variables';

.wrapper-qr {
  position: relative;

  .qr-of-event {
    object-fit: cover;
    max-height: 250px;
    max-width: 250px;
    background-size: cover;
    display: inline-block;
    background: center/cover no-repeat;
  }
}

.qr-container {
  text-align: center;
  display: grid;
}

.qr-code {
  height: 225px;
  width: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: auto;
}

.link-qr {
  margin: auto;

  width: 225px;
  text-align: center;
}
.image-to-download {
  color: @backgroundBlueColor;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
