@import '../../../less/variables';

.add-box {
  border-radius: 2px;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
  .mat-icon {
    height: inherit;
    width: inherit;
  }
  &:hover {
    color: @greenButtonBackgroundColor;
  }

}
.photo{
  background-size: cover;
  display: block;
  height: 43px ;
  width: 43px;
  border-radius: 50%;
}
.close {
  text-transform: uppercase;
  background-color: @backgroundButtonInCard;
  float: right;
  bottom: 20px;
}

.list-element-add {
  height: 50px;
  list-style-type: none;
  cursor: pointer;
  &:hover {
    background-color: @buttonDashedAddTopic;
  }
}

.list-element {
  .button-in-the-button {
    display: none;
  }
  height: 50px;
  list-style-type: none;
  &:hover {
    background-color: @buttonDashedAddTopic;
    .button-in-the-button {
      display: flex;
      min-width: 35px !important;
      width: 35px;
      height: 35px;
      line-height: 10px;
      margin-right: 10px;
      text-align: center;
      background: @delimiterColor;
      color: @secondaryTextColor;
      font-size: 14px;
      float: right;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        color: @removeBtnTextColor;
        background: @removeBtnBackgroundColor;
      }

      ::ng-deep {
        .mat-button-focus-overlay {
          background: transparent;
        }
      }
    }
  }
}

.dialog {
  float: right;
  width: 112px;
  height: 38px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 10px;
  background-color: @secondaryTextColor;
  color: @whiteColour;
  border-color: @secondaryTextColor;
}

.username-input {
  width: 400px;
  margin-left: 45px;
}

.add-user {
  float: right;
  background-color: @backgroundBlueColor;
  color: @whiteColour;
  border-radius: 2px;
  width: 112px;
  height: 38px;
  text-transform: uppercase;
  margin: 5px;
  &:hover{
    background-color: @buttonPrimary;
  }
}

.cancel-btn {
  float: right;
  background-color: @negativeDialog;
  color: @backgroundBlueColor;
  border-radius: 2px;
  width: 112px;
  height: 38px;
  text-transform: uppercase;
  margin: 5px;
  &:hover{
    background-color: rgba(74, 144, 226, 0.15);
  }

}

.user-icon {
  margin-right: 10px;
}

.dialog-container {
  height: 500px;
}

::ng-deep.users-selected {

  .k-textbox-container {
    width: 100%;
  }

  .k-textbox-container > .k-label {
    color: rgba(0, 0, 0, .54);
  }

  .mat-form-field-infix {
    display: inherit !important;
  }

  .owl-dt-popup {
    width: 250px;
  }
}

.header-select {
  display: inline;
}

.selected-user-container {
  user-select: none;
  margin-right: 10px;
  margin-left: 15px;
  width: 100%;
  font-size: 16px;
  color: @blueLinCkolor;

}

.all-user-container {
  display: flex
}

.container {
  box-sizing: border-box;
  padding: 17px 25px;
  justify-content: space-between !important;

  .account-picture {
    user-select: none;
    .icon {
      width: 43px;
      height: 43px;
      font-size: 43px;
      color: @speakerIconBackgroundColor;
    }

  }

  .content {
    margin-left: 10px;
    width: calc(~"100%-43px)");

    .name {
      user-select: none;
      color: @backgroundBlueColor;
      font-size: 14px;
      font-weight: 700;

    }

    .position {
      font-size: 12px;
      font-weight: 400;
    }
  }

}

.information {
  display: flex;
  align-items: center;
}

.overflow-list {
  overflow-y: scroll;
  height: 410px;
  width: 350px;
  &::-webkit-scrollbar {
    width: 8px;
    background: @whiteColour;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}

::ng-deep.mat-dialog-container {
  overflow: hidden;
}

.empty-users-list {
  margin: auto;
  margin-right: 10px;
  margin-left: 15px;
  height: 410px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @secondaryTextColor;
}

.text-warning {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.ul-style {
  padding: 0;
}

.search-form {

  ::ng-deep .mat-form-field-infix {
    width: 340px;
  }
}

.marginu {
  margin-top: 19px;
}

.margin-cont {
  margin-top: 26px;
}
