<div class="dialog-container">
  <ul class="ul-style">
    <div>

      <div class="all-user-container">
        <div class="selected-user-container">
          <div class="search-form">
            <mat-form-field>
              <input matInput [(ngModel)]="searching" placeholder="Search users" autocomplete="off" i18n-placeholder="@@searchUsers"/>
            </mat-form-field>
          </div>
          <div class="overflow-list">

            <li *ngFor="let user of usersList()" class="list-element-add" (click)="addUsersToContributors(user)">
              <div class="container" fxLayout="row" fxLayoutAlign="start center">
                <div class="information">
                  <div *ngIf="!user.image" class="account-picture" fxLayoutAlign="center center">
                    <mat-icon class="icon">account_circle</mat-icon>
                  </div>
                  <span *ngIf="user.image" class="photo" [ngStyle]="{'background-image': 'url(' + user.image + ')'}"></span>
                  <div class="content" fxLayout="column">
                    <div class="name">{{user.displayName}}</div>
                  </div>
                </div>
              </div>
            </li>
          </div>

        </div>

        <div class="selected-user-container margin-cont">
          <h4 class="header-select" i18n="@@selectedUsers">Selected users</h4>

          <div class="empty-users-list " *ngIf="sharedUsers.length===0">
            <h4 class="text-warning" i18n="@@selectedUsersMessage">Select the users you want to give access to editing the event</h4>
          </div>
          <div class="overflow-list marginu" *ngIf="sharedUsers.length!==0">

            <li *ngFor="let user of sharedUsers" class="list-element">
              <div class="container" fxLayout="row" fxLayoutAlign="start center">
                <div class="information">
                  <div *ngIf="!user.image" class="account-picture" fxLayoutAlign="center center">
                    <mat-icon class="icon">account_circle</mat-icon>
                  </div>
                  <span *ngIf="user.image" class="photo" [ngStyle]="{'background-image': 'url(' + user.image + ')'}"></span>

                  <div class="content" fxLayout="column">
                    <div class="name">{{user.displayName}}</div>
                  </div>
                </div>
                <button mat-button class=" button-in-the-button" (click)="deleteSelectedUser(user)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>

            </li>
          </div>

        </div>
      </div>
    </div>

  </ul>
</div>

<button mat-button class="add-user" (click)="add()" i18n="@@streamSave">Save</button>
<button mat-button class="cancel-btn" (click)="onNoClick()" i18n="@@closeSharedUsers">close</button>
