<div class="back-col">
<div class="centering widthchange create-stream">
  <div class="card-stream-create">
    <mat-card>
      <mat-form-field  #matPlaceholder class="dialog-input">
        <input  matInput  [(ngModel)]="streamAdd.name">
        <mat-placeholder  class="placeholder">name</mat-placeholder>
      </mat-form-field>

      <mat-form-field class="dialog-input">
        <input  matInput [(ngModel)]="streamAdd.location" >
        <mat-placeholder class="placeholder">stream location</mat-placeholder>
      </mat-form-field>
      <button #createStreamBtn class="button-style" mat-button  (click)="addStream(createStreamBtn)">ADD STREAM</button>
    </mat-card>
  </div>

</div>
</div>
