@import '../../../less/variables';

div.create-stream {
  display: table;
}

div.card-stream-create {
  width: 720px;

  margin-top: 40px;

}

.dialog-input {
  display: block;
  width: inherit;
  padding: 20px;
  margin: 20px;
  box-sizing: padding-box;
}

.mat-raised-button {

  margin: 30px;
}

.centering {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1254px) {
  .widthchange {
    width: 720px;
  }
}

@media (max-width: 1254px) {
  .widthchange {
    width: 720px;
  }
}

.button-style {
  width: 112px;
  height: 38px;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 10px;
  background-color: @secondaryTextColor;
  color: white;
  border-color: @secondaryTextColor;
  margin-left: 38px;
}
