<div class="size">
  <div class="page-source white-color">
    <div class="centering">

      <div class="content">

        <label class="to-event-list" (click)="toEventList()">
          <i class="material-icons">
            arrow_back_ios
          </i>
          <span class="inline-al button-text" i18n="@@eventsList">Event list</span>
        </label>

        <div class="center-bar">
          <div class="inline head-create" *ngIf="event !== undefined">
            <div class="header-set">{{event.title}}</div>
          </div>
          <label class="draft" *ngIf="event && event.status.toString() === 'NOT_PUBLISH'" i18n="@@draftEvent">draft</label>
          <label class="published" *ngIf="event && event.status.toString() === 'PUBLISH'" i18n="@@publishedEvent">published</label>
        </div>

        <div class="buttons-inline">
          <button *ngIf="event && event.id" mat-button class="share-event" (click)=" openDialog()">
            <i class="material-icons">
              share
            </i>
            <span class="share" i18n="@@shareEvent">
            share
            </span>
          </button>
          <button *ngIf="event && event.id && event.status.toString() === 'NOT_PUBLISH'" mat-button class="button-style"
             (click)="publish()">
            <i class="material-icons">
              public
            </i>
            <span i18n="@@publishEvent">
              Publish event</span>
          </button>
        </div>
      </div>

      <app-event-navigation></app-event-navigation>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>
