@import '../../../less/variables';

div.createEventLabel {
  font-size: x-large;
  font-weight: bold;
  display: inline;
  padding: 20px;
}

a {
  font-size: 30px;
}

.share-event {
  background-color: @editBtnBackgroundColor;
  color: @backgroundBlueColor;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  visibility: visible;
  border-radius: 4px;
  .share{
    margin-left: 10px;
  }
  &:hover {
    background-color: rgba(74, 144, 226, 0.15);
  }

  i {
    font-size: 18px;
    margin-bottom: 4px;
  }
}


.size {
  height: calc(100% - 114px);
  background-color: @backgroundOfPage;
  user-select: none;

}

.head-create {
  font-weight: 700;
  margin-bottom: 0;
  max-width: calc(100% - 100px);

}

.width-button {
  width: 112px;
}

.button-style {
  background-color: @backgroundBlueColor;
  color: @whiteColour;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 15px;
  text-transform: uppercase;
  span {
    margin-left: 10px;
  }
  &:hover {
    background-color: @buttonPrimary;
  }

}

.page-source {
  position: relative;
  margin-top: 44px;
  box-shadow: 0 3px 4px -1px @shadowColor;
  background-color: @whiteColour;
  z-index: 1;
}

.inline {
  display: inline-flex;
  margin-right: 15px;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;
}

.inline-bloc {
  display: inline-flex;
}

.inlined {
  display: inline-block;
}

.centering {
  margin-left: auto;
  margin-right: auto;
}

.widthchange {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-bar {
  max-width: calc(100% - 455px);
  padding-left: 140px;
  margin: 0 auto;
  display: inline-flex;
}

@media (min-width: 1400px) {
  .center-bar {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 790px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .center-bar {
    margin-left: 295px;
    padding: 0;
    width: 700px;
  }
}

@media (min-width: 961px) and (max-width: 1199px) {
  .center-bar {
    padding: 0;
    width: 700px;
  }
}

@media (max-width: 960px) {
  .center-bar {
    padding: 0;
    margin-left: 155px;
  }

  .to-event-list {
    position: absolute;
    padding: 0;
  }

  .content {
    display: flex;
    height: 25px;
  }

  .head-create {
    max-width: 60%;
  }
}

@media (min-width: 961px) {
  .to-event-list {
    position: absolute;
    padding: 0;
  }

  .content {
    display: flex;
    height: 25px;
  }
}

.active {
  background-color: @buttonDashedColour;
  color: @whiteColour;
  border-color: @buttonDashedColour
}

.flex-spacer {
  flex-grow: 1;
}

.label-publish {
  color: @secondaryTextColor;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.mat-button {
  min-width: inherit;
}

.to-event-list {
  color: @backgroundBlueColor;
  display: inline-flex;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  left: 32px;
}

.mat-icon {
  width: inherit !important;
  height: inherit !important;
}

.inline-al {
  display: inline-block;
}

.button-text {
  font-size: 20px;

  &:hover {
    color: @blueLinCkolor;
    cursor: pointer;
    text-decoration: underline;
  }
}

.content {
  align-items: center;

}

.header-set {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tab-link {
  margin: 5px;
  height: auto;
  min-width: auto;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase
}

.draft {
  display: flex;
  justify-content: center;
  align-items: center;
  background: @streamSelect;
  padding: 0 4px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: @blackColour;
}

.published {
  background-color: @greenButtonBackgroundColor;
  padding: 6px 5px 4px 5px;
  border-radius: 4px;
  font-size: 11px;;
  font-weight: 700;
  text-transform: uppercase;
  color: @whiteColour;
}

.link {
  color: @secondaryTextColor;
  font-weight: 400;

  .step-label {
    background-color: @secondaryTextColor;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &.mat-tab-link {
    display: inline-flex;
  }

  &.link-active {
    color: black;
    font-weight: 700;
    text-transform: uppercase;

    .step-label {
      background-color: black;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
      line-height: 24px;
      color: white;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.buttons-inline {
  position: absolute;
  right: 30px;

  .material-icons {
    font-size: 22px;
  }
}
