@import '../../../less/variables';

.inner {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  .topic-date-format {
    padding-left: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    color: @secondaryTextColor;
    font-weight: 400;
  }
}

.topic-panels-wrapper {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.topic-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 35px;
  border-bottom: 1px solid @line;
  background: @whiteColour;

  &:last-child {
    border-bottom: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.topic-panel-time {
  margin: 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}

.topic-panel-content {
  width: calc(100% - 315px);
  margin-left: 35px;
  padding: 5px 0;
  border-left: 1px solid @line;

  .topic-panel-title {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
  }

  .topic-panel-speakers {
    margin: 5px 0 0 35px;
    padding: 0;

    .topic-panel-speaker {
      list-style-type: none;
      float: left;
      font-size: 14px;
      font-weight: 400;
      color: #4a4a4a;

      &:not(:last-child):after {
        content: ', ';
        margin-right: 5px;
      }
    }
  }
}

.topic-panel-btn-wrapper {
  float: right;
  width: 250px;

  .topic-panel-btn {
    width: auto;
    height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.edit-btn {
      background: @editBtnBackgroundColor;
      color: @backgroundBlueColor;
      &:hover{
        background-color: rgba(74, 144, 226, 0.38);
      }
    }

    &.remove-btn {
      color: @secondaryTextColor;

      &:hover {
        background: @removeBtnBackgroundColor;
        color: @removeBtnTextColor;

        ::ng-deep {
          .mat-button-focus-overlay {
            background: transparent;
          }
        }
      }
    }
  }
}

.btn-add {
  color: @backgroundBlueColor;
  font-size: 16px !important;
  font-weight: 700;
  margin-left: 90px;
}
