<div class="inner" *ngFor="let dateOfTopic of eventsDays">
  <div>
    <div class="topic-date-format">
      <span>{{ dateOfTopic | date: 'MMM dd'}}</span>
      <button  class="btn-add" mat-button (click)="addTopic(dateOfTopic)" i18n="@@addTopic">+ Add Topic</button>
    </div>
  </div>
  <div class="topic-panels-wrapper" >
    <div class="topic-panel" *ngFor="let topic of topics | putToDayBucket: dateOfTopic | uniqueHoursminutes">
        <p class="topic-panel-time">
          {{topic.startDate | date: "HH:mm"}} - {{topic.endDate | date: "HH:mm"}}
        </p>
      <div class="topic-panel-content">
        <h3 class="topic-panel-title"> {{topic.title}} </h3>
        <ul class="topic-panel-speakers clearfix">
          <li class="topic-panel-speaker" *ngFor="let user of topic.users">{{user.displayName}}</li>
        </ul>
      </div>
      <div class="topic-panel-btn-wrapper">
        <button mat-button class="topic-panel-btn edit-btn" (click)="openTopic(topic).subscribe()" i18n="@@editEvent">Edit</button>
        <button mat-button class="topic-panel-btn remove-btn" (click)="deleteTopic(topic, $event)" i18n="@@removeTopic">Remove</button>
      </div>
    </div>
  </div>
</div>

