<div class="content">

  <div class="header" >
    Conference Assistance
  </div>
  <div class="linksClass">
      <a>
        Events
      </a>
      <a >
        Statistics
      </a>
  </div>
  <div class="role">
    admin
  </div>

<div class="borderline">
</div>

<div class="createEventLabel">
  Create event
</div>
  <div class="ButtonLayout">
    <button>Cancel</button>
    <button class="save">Save</button>
</div>

  <div class="description">
    <mat-tab-group class="streams"  >
      <mat-tab label="Details"><app-events-admin-details></app-events-admin-details></mat-tab>
      <mat-tab label="Streams"><app-streams-admin-details></app-streams-admin-details></mat-tab>
      <mat-tab label="Schedule">Schedule</mat-tab>
    </mat-tab-group>
  </div>

</div>
