<ul class="navi">
  <li [class.active]="currentUrl.includes('details') || currentUrl.includes('events/new')" (click)="redirectToDetails()" i18n="@@eventDetails">Details</li>
  <li [class.active]="currentUrl.includes('streams')" (click)="redirectToStreams()" i18n="@@eventSheduler">Schedule</li>
  <li [class.active]="currentUrl.includes('statistic')" (click)="redirectToStatistic()"
      *ngIf="!currentUrl.endsWith('new') && (potentialVisitors.length > 0 || actualVisitors.length > 0  )" i18n="@@eventStatistic">Statistic</li>
</ul>
