@import '../../../less/variables';

ul.navi {
  list-style-type: none;
  text-align: center;
  margin: 0;

  li {
    display: inline-block;
    padding: 13px 13px 9px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: @secondaryTextColor;

    &.active {
      color: @backgroundBlueColor;
      border-bottom: 3px solid;
      pointer-events: none;
    }

    &:hover {
      background-color: @buttonDashedAddTopic;
      border-bottom: 3px solid;
      cursor: pointer;
    }
  }
}
