@import '../../../../less/variables';

.lefting{font-size: 22px;
  font-weight: 700;
}

.righting{font-size: 16px;
  font-weight: 700;
}
.control{
  display: inline-block;
}

.flex-spacer {
  flex-grow: 1;
}
.flexor {
  flex-grow: 0.02;
}
.flexor1 {
  flex-grow: 0.015;
}
.flexor3 {
  flex-grow: 0.05;
}
.content {
  display: flex;
  align-items: center;

  height: 70px;
  box-shadow: 0 2px 4px @shadowColor;
  user-select: none;

}
.progress{
width: 30px;
  height: 30px;
}
