  <div class="content">
  <div class="flexor"></div>

  <div class="lefting flexor">
    <p>Conference Assistant</p></div>
  <div class="flex-spacer"></div>
    <div class="flexor3 progress">
      <qsl-progress-loader></qsl-progress-loader>
  </div>
  <div class="flexor1"></div>

</div>

<router-outlet></router-outlet>
