@import '../../../less/variables';

div.topic-view.topic-view {
  width: 100%;
  height: 100%;
  background-color: @transparentStyle;

}

div.mat-expansion-panel-content:not(.mat-expanded) {
  height: 0;
  visibility: hidden;
}

.mat-expansion-panel-header:not(.mat-expanded) {
  height: 48px;
}

.mat-expansion-panel-header {
  height: 64px;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 0;
}

.mat-content {
  font-weight: 100;
  font-size: 18px;
}

input[type=time] {
  display: inline-block;
  border: 1px solid, @whiteColour;
  margin: 10px;
  height: 30px;
}

.dialog-input {
  width: 450px;
  display: block;
  margin: 20px;
}

.mat-raised-button.add-button {
  margin-top: 10px;
  border-style: dashed;
  margin-left: auto;
  margin-right: auto;
}

div.topic-view {
  height: 100%;
  width: 100%;
  background: @whiteColour;
}
@media (max-width: 1400px) {
  .topic-container {
    width: 795px;
    margin-left: 295px;
    overflow: hidden;
  }
}

@media (min-width: 1401px) {
  .topic-container {
    width: 795px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}
@media (max-width: 1099px) {
  .topic-container {
    width: 690px;
    margin-left: 295px;
    overflow: hidden;
  }
}
@media (max-width: 1000px) {
  .topic-container {
    width: 100%;
    overflow: hidden;
    margin: 0 0;
  }
}
@media (max-width: 665px) {
  .topic-container {
    width: 660px;
  }
}
div.topic-list-scroll {
  overflow-y: scroll;
  height: 500px;
}

span.no-topics {
  display: block;
  text-align: center;
  cursor: default;
}

a.link-to-new-topic {
  color: @linkColour;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

}

a.link-to-new-topic:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

a.link-to-new-topic:hover {
  color: @linkColour;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

a.link-to-new-topic:active {
  color: @linkColour;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.fixed-button-add-topic {
  display: inline-block;
  position: fixed;
  top: 217px;
  left: 90%;

}

.level {
  margin-right: 25px;

}

