@import '../../../less/variables';
.open-dia{
  display: flex;
  app-open-image-dialog{
    display: inline-block;
    margin: auto;
  }

}
.header-photo{
margin-top: 20px;

}
.event-details {
  display: inline-block;
}
.page {
  height: calc(100% - 69px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background: @backgroundOfPage;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}
.wrap{
  margin: auto auto 65px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}
.event-details  {
  width: 790px;
  margin-left: 0;
  margin-right: 0;
}
.wrapper-child {
  display: inline-block;
}
.container-info{
  display: inline-block;
  width: 341px;
}
.event-details-container{
  display: flex;
  margin: 0 65px 0px 65px;
  min-height: 283px;
  justify-content: space-between;
}

.add-date {
  color: @addDateColor;
  background-color: @whiteColour;
  padding: 1% 2%;
  margin: 25px;
  width: 100px;
  display: block;
  border-style: dashed;
  pointer-events: auto;
}

.add-date:hover {
  border-color: @addDateBorderColour;
  background-color: @addDateColor;
  cursor: pointer;
}

.input-field {
  display: block;
  overflow: hidden;
  width: 100% ;
}
.input-field textarea{
 min-height: 80px;
  &::-webkit-scrollbar {
    width: 8px;
    background: @whiteColour;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}

.inputDateField {
  width: 150px ;
}

.inputDateStart{
  width: 150px ;
}

.inputDateEnd{
  width: 150px ;
  float: right;
}

input {
    display: block;
  }
.create-from-file {
  vertical-align: top;
  display: inline-block;
  width: 100px;
}

.centering {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 790px) {
  .widthchange {
    width: 792px;
  }
}

@media (max-width: 418px) {
  .widthchange {
    width: 320px;
  }
}

.in-one-row{
  display: block;
  justify-content: center;
}

.inputField {
  width: inherit;
  display: block;
  margin: 0 20px 0 40px;
}
.imitation {
  background-color: @whiteColour;
  box-shadow: 0 3px 4px 0 @shadowColor;
  height: 45px;
  margin-bottom: 4px;
}

.mat-card.event-details {
  padding: 0 0 0 0;

}
.visitors {
  margin: 0 40px 20px 69px;
  color: @secondaryTextColor;
  font-weight: 700;
  font-size: 18px;

  .group-label {
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

  .icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
    transform: translateY(4px);
  }
}

.potential-visitors-and-limit{
  width: 100%;
}

.input-field-participants-limit{
  overflow: hidden;
  width: 100px;
}

.potential-visitors-event-limit{
  height: 60px;
  float: right;
}

.nav-btn {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  height: 37px;
  width: 117px;
  position: fixed;
  background-color: @secondaryTextColor;
  color: @whiteColour;

  &.streams-btn {
    margin-left: 13px;
    bottom: 51px;
    left: calc(792px + (100% - 790px) / 2);

    .icon {
      transform: translateY(-2px);
    }
  }

  &.cancel-btn {
    bottom: 51px;
    left: calc((100% - 790px) / 2 - 143px);
  }
}

.event-participant-limit{
  padding-left: 10px;
}








//.wrapper-images{
//  display: grid;
//}

textarea.mat-input-element.cdk-textarea-autosize{
  max-height: 200px;

}

.event-tag{
}

.event-tag-content{
  padding-top: 20px;
}

.tags-input{
  width: 100%;
}

.example-chip-list{
  width: 100%;
}
