<div class="page">
  <div class=" centering widthchange">
    <mat-card class="event-details">

      <div class="wrap">

        <app-event-admin-images [event]="event" *ngIf="event.id"></app-event-admin-images>
      </div>

      <div *ngIf="event">
        <div class="event-details-container">
          <div class="container-info">
          <mat-form-field class="input-field">
            <input matInput [(ngModel)]="event.title" #title required placeholder="Event name"
                   (change)="saveEvent()" i18n-placeholder="@@eventName"/>
          </mat-form-field>

      <div class="potential-visitors-and-limit" >
        <mat-form-field class="input-field-participants-limit" >
          <input   matInput [(ngModel)] = "event.participantsLimit" maxlength="5"
                 [formControl]="participantsLimit"
                 placeholder="Participants limit"
                 (change)="saveEvent()"
                   type="text"
                  #participants
         i18n-placeholder="@@participantsLimit" />
              </mat-form-field>

              <div class="potential-visitors-event-limit" fxLayout="row" fxLayoutAlign="start center">
                <div class="group-label" fxLayout="column"> {{potentialVisitors.length}} / {{event.participantsLimit}}
                </div>
                <div class="event-participant-limit" fxLayoutAlign="center center">
                  <mat-icon class="icon">people</mat-icon>
                </div>
              </div>

          </div>

          <mat-form-field class="input-field">

            <textarea matInput matTextareaAutosize align="start" #message
                      [(ngModel)]="event.description" placeholder="Event description"
                      (change)="saveEvent()" i18n-placeholder="@@eventDescription"></textarea>

            <mat-hint align="end">{{message.value.length}} </mat-hint>
          </mat-form-field>

            <div class="event-tag">
              <div class="event-tag-content">
                  <div class = "tags-input">
                    <mat-form-field class="example-chip-list">
                      <mat-chip-list #chipList >
                        <mat-chip *ngFor="let tag of event.tags" [selectable]="selectable"
                                  [removable]="removable" (removed)="remove(event,tag)">
                          {{tag.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Event tags"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event, event)" i18n-placeholder="@@eventTagsPlaceholder">
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
              </div>
            </div>



          <div class="in-one-row">
            <mat-form-field class="inputDateStart" (change)="dateUpdate()">
              <input matInput [matDatepicker]="picker1" required placeholder="Date start" [(ngModel)]="dateStart" #dateStartIn
                     (dateChange)="dateUpdate()" i18n-placeholder="@@dateStart" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="inputDateEnd">
              <input matInput [matDatepicker]="picker2" required [min]="dateStart" placeholder="Date end"
                     [(ngModel)]="dateEnd" (dateChange)="dateUpdate()" #dateEndIn i18n-placeholder="@@dateEnd"/>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          </div>
          <div class="wrapper-child">
            <div class="open-dia">
            <app-open-image-dialog [event]="event" *ngIf="event.attachments.length===0"></app-open-image-dialog></div>
          <!--<div class="wrapper-photo" >-->
          <!--<app-add-photo [event]="event"></app-add-photo>-->
          <!--</div>-->
          <div class="wrapper-qr" *ngIf="event.id">
          <app-qr-code [event]="event"></app-qr-code>
          </div>
          </div>
        </div>
        <div *ngIf="event.location !== undefined">
          <app-event-map [eventLocation]="event.location"></app-event-map>
        </div>
      </div>
    </mat-card>

  </div>

</div>
