



<div class="container">

  <div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  *ngIf="userStatistic.length !== 0">

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef i18n="@@usernameStatisticLength">username ({{userStatistic.length}})</th>

    <td mat-cell *matCellDef="let element">
      <div class="information">
      <div *ngIf="!element.image" class="account-picture" fxLayoutAlign="center center">
      <mat-icon class="icon">account_circle</mat-icon>
    </div>
      <span  *ngIf="element.image" class="photo" [ngStyle]="{'background-image': 'url(' + element.image + ')'}">
      </span >
        <div class="name" fxLayout="column">{{element.displayName}}</div></div> </td>
  </ng-container>

  <ng-container matColumnDef="potential">
    <th mat-header-cell *matHeaderCellDef i18n="@@preregisteredUsers">preregistered ({{potentialVisitors.length}})</th>
    <td mat-cell *matCellDef="let element"   [style.color]="element.potential === 'Yes' ? 'green' : 'red'" >
      <span i18n="@@elementPotential">
        element.potential
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actual">
    <th mat-header-cell *matHeaderCellDef i18n="@@registeredUsers">registered ({{actualVisitors.length}})</th>
    <td mat-cell *matCellDef="let element" [style.color]="element.actual === 'Yes' ? 'green' : 'red'" >
      <span i18n="@@elementActual">
      element.actual
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
    <mat-paginator    [pageSizeOptions]="[5, 10]" ></mat-paginator>

  </div>

</div>
