@import '../../../less/variables';

.actual-user {
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;

  border-style: solid;
  border-width: 1px;
  margin: 1px;

  &.heading {
    background-color: rgba(74, 144, 226, 0.1);
    color: @backgroundBlueColor;
    border: 2px solid @backgroundBlueColor;
  }
}

.potential-user {
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;

  border-style: solid;
  border-width: 1px;
  margin: 1px;

  &.heading {
    background-color: rgba(74, 144, 226, 0.1);
    color: @backgroundBlueColor;
    border: 2px solid @backgroundBlueColor;
  }
}

.username-user {
  display: inline-block;
  width: 220px;
  height: 40px;
  text-align: center;

  border-style: solid;
  border-width: 1px;
  margin: 1px;

  &.heading {
    background-color: rgba(74, 144, 226, 0.1);
    color: @backgroundBlueColor;
    border: 2px solid @backgroundBlueColor;

  }

}

.email-user {
  display: inline-block;
  width: 220px;
  height: 40px;
  text-align: center;

  border-style: solid;
  border-width: 1px;
  margin: 1px;

  &.heading {
    background-color: rgba(74, 144, 226, 0.1);
    color: @backgroundBlueColor;
    border: 2px solid @backgroundBlueColor;

  }

}

.container {
  padding-top: 30px;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

tr.mat-header-row {
  text-transform: uppercase;
  font-size: 13px !important;
}

td.mat-cell {
  text-transform: uppercase;
  font-size: 13px !important;
}

.mat-header-cell {
  font-size: 13px !important;
  font-weight: 900 !important;
}

.no-data-for-autids {
  font-size: 22px;
  color: @secondaryTextColor;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
}
.account-picture {
  user-select: none;
  .icon {
    width: 43px;
    height: 43px;
    font-size: 43px;
    color: @speakerIconBackgroundColor;
  }
}
.photo{
  background-size: cover;
  display: block;
  height: 43px ;
  width: 43px;
  border-radius: 50%;
}
.information {
  display: flex;
  align-items: center;
}
.name {
  margin-left: 10px;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
}
