html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.tabs {
  height: 100%;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border: 0;
}

.mat-tab-label {
  color: @secondaryTextColor;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-label.mat-tab-label-active {
  color: @backgroundBlueColor;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent !important;
  opacity: 1;
}

.mat-ink-bar {
  background-color: @backgroundBlueColor !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 3px;
  background: @backgroundBlueColor !important;
}

.mat-tab-links {
  justify-content: center;
}

.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}

.mat-button-focus-overlay {
  opacity: 0 !important;
}

.mat-button {
  border-radius: 4px !important;
  font-size: 12px !important;
}
