/* This file contains variable declarations (do not remove this line) */

/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/

@backgroundBlueColor: rgb(74, 144, 226);
@editBtnBackgroundColor: rgba(74, 144, 226, 0.1);
@removeBtnBackgroundColor: rgba(208, 2, 27, 0.1);
@removeBtnTextColor: #d0021b;
@secondaryTextColor: #9b9b9b;
@backgroundGreyColor: #f1f2f6;
@greenButtonBackgroundColor: #3eb04f;
@inactiveTabFontColor: #d8d8d8;
@shadowColor: rgba(0, 0, 0, 0.18);
@speakerIconBackgroundColor: #dedede;
@delimiterColor: #d8d8d8;
@buttonDashedColour: #979797;
@buttonBackgroundDashedColour: #F8F8F8;
@buttonDashedAddTopic: #EFF1F3;
@whiteColour: #ffffff;
@topicContainer: #888888;
@linkColour: #1a0dab;
@stitchedBorder: #909598;
@stitchedColour: #A3A4A4;
@blackColour: black;
@navShadow: #9e9b9b;
@backgroundOfPage: rgba(237, 242, 246, 0.57);
@backgroundButtonInCard: #9A9A9A;
@line: #d5d5d5;
@addDateBorderColour: #666 #aaa #bbb #888;
@addDateColor: gray;
@toggleBtnDisabledColor: #bfbfbf;
@transparentStyle: transparent;
@streamSelect: #e0e0e0;
@deleteHoverButton: red;
@backgroundColorButton: rgba(155, 155, 155, 0.16);
@blueLinCkolor: #7D9DE0;
@errorBackground: url('../assets/error-background/error-back.jpg');
@notAllowedIcon: url('../assets/not-aloowed/not-allowed.png');
@notAllowedErrorFont: #FFE27E;
@backgroundNotAllowed: url('../assets/not-aloowed/background-not-aloowed.png');
@fontError:  #ffc000;
@negativeDialog: rgba(74, 144, 226, 0.1);
@buttonPrimaryDelete: #4a90e2;
@buttonPrimary: #2e74e2;
@neggativeHover: rgba(68, 130, 226, 0.2);
@uploadButton: #2e74e2;
@cancelButton: rgba(74, 144, 226, 0.15);
@addImageText:  #5283bd;
@addImageBorder:  #9b9b9b;
@wrapperPhoto:  #1a0dab;
@eventBoxHover: rgba(74, 144, 226, 0.38);
@description: #4a4a4a;
@hoverBack: #f7e5e5;
@activeText: #003a94;
@backGround: #e0d9ff;
@redBord: #ff795c;
@redCol: #ff6f60;
