<div class="all-page">
  <div class="inline-page">
    <div class="inline-content">
      <label class="error404">404</label>
    </div>
    <div class="inline-content">
      <label class="label-not-page">Page not found</label>
    </div>
    <div class="inline-content">
      <mat-icon>error</mat-icon>
    </div>
    <div class="inline-content">
      <a class="link-to-main-page" [routerLink]="['']">Go Home</a>
    </div>
  </div>
</div>
