

<div *ngIf="eventLocation !== undefined">
<div >
  <mat-form-field class="input-field">
  <input matInput placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
         #search [(ngModel)]="eventLocation.formattedAddress" i18n-placeholder="@@searchForLocation">
  </mat-form-field>
</div>

<agm-map  [latitude]="eventLocation.latitude" [longitude]="eventLocation.longitude" (mapClick)="changeMarker($event, eventLocation)"  >
    <agm-marker [latitude]="eventLocation.latitude" [longitude]="eventLocation.longitude"  >
  </agm-marker>
</agm-map>

</div>
