<div class="create-new-stream">
  <div class="create-new-stream-input">
    <form #myForm="ngForm" novalidate (ngSubmit)="addStream()">
      <mat-form-field appearance="no">
        <mat-label i18n="@@streamsName">Streams name</mat-label>
        <input
          required matInput autofocus
          [(ngModel)]="streamAdd"
          class="stream-name-input"
          type="text"
          #input [ngModelOptions]="{standalone: true}"
        />
      </mat-form-field>

      <div class="stream-button-end">
        <div class="stream-buttons">
          <button type="button" mat-button (click)="cancle()" class="cancel-button" i18n="@@streamCancel">Cancel</button>
          <button type="submit" mat-button [disabled]="myForm.invalid" class="save-button" i18n="@@streamSave">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

