@import '../../../less/variables';

.create-new-stream {
  margin-bottom: 20px;
}

.save-button {
  text-transform: uppercase;
  margin: 5px 0 5px 5px;
  background-color: @backgroundBlueColor;
  color: @whiteColour;
  &:hover{
    background-color: @buttonPrimary;
  }

}

.cancel-button {
  text-transform: uppercase;
  margin: 5px;
  background-color: @negativeDialog;
  color: @backgroundBlueColor;
  &:hover{
    background-color: rgba(74, 144, 226, 0.15);
  }
}

.create-new-stream-input {
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  ::ng-deep .mat-form-field-infix {
    width: 240px;
    margin-left: 10px;
    padding: 0;

  }
  ::ng-deep .mat-label{
    padding: 0;
    margin: 0;

  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: transparent;

  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;

  }
  ::ng-deep .mat-input-element {
    background-color: transparent;

  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;

  }
  ::ng-deep .mat-form-field-wrapper {
    background-color: transparent;
    padding: 0;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;

  }
  ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
  }
  ::ng-deep .mat-input-element {
    caret-color: none;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
    background-color: transparent;

  }
  ::ng-deep .mat-form-field-label{
    background-color: transparent;

  }
  .stream-name-input{
    padding-left:0;
  }
}

.stream-name-input {
  padding: 5px;
  height: 20px;
  max-width: 280px;
  min-width: 100px;
}

.stream-buttons {
  display: inline;
  margin-top: 10px;
}

.stream-button-end {
  justify-content: flex-end;
  margin-right: 5px;
}

@media (min-width: 1001px) {
  .create-new-stream {
    display: inline;
  }

  .stream-button-end {
    display: flex;
  }

  .create-new-stream-input {
    display: inline;
  }

}

@media (max-width: 1000px) {
  .create-new-stream {
    display: flex;
    justify-content: center;
  }

  .stream-button-end {
    display: inline-flex;
    align-items: center;
  }

  .create-new-stream-input {
    display: inline;
  }

}
::ng-deep .mat-form-field-infix{
  border-top: 0;
}
