<div class=" day-add-stream">
  <div class="stream-list stream-list-position">
    <h3 class="stream-list-title" i18n="@@streamsTitle">Streams</h3>
    <ul class="list-style">
      <li *ngFor="let stream of streams">
        <a class="button-stream"
           routerLinkActive="active">
          <a class="text-line text-in-the-button" [routerLink]="[stream.id, 'topics']">
            {{stream.name}}
          </a>
          <button (click)="deleteStream(stream)" mat-button class="text-line button-in-the-button">
            <i class="material-icons">delete_forever</i>
          </button>
        </a>
      </li>
    </ul>
    <div class="list-style unscroll">
      <div *ngIf="!createNewStream">
        <a class="button-stream add-text-in-the-button" mat-button (click)="onNewStreamClick()" i18n="@@addStream">+ Add stream</a>
      </div>
      <div class="space" *ngIf="createNewStream">
        <app-admin-add-stream></app-admin-add-stream>
      </div>
    </div>
  </div>

  <div class="topics">
    <router-outlet></router-outlet>
  </div>
</div>
