@import '../../../less/variables';

.mat-tab-link {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase
}

.create-list {
  padding-left: 20px;
  padding-top: 20px;
  list-style-type: none;
}

a {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase

}

div.day-add-stream {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.stream-list-title {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

@media (min-width: 961px) {
  .day-add-stream {
    height: calc(100% - 71px);
    &::-webkit-scrollbar {
      width: 8px;
      background: @backgroundOfPage;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: @secondaryTextColor;
    }
  }

}

@media (max-width: 960px) {
  .day-add-stream {
    height: calc(100% - 103px);
    &::-webkit-scrollbar {
      width: 8px;
      background: @backgroundOfPage;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: @secondaryTextColor;
    }
  }
}

.topics {
  width: 100%;
}

::ng-deep .mat-ink-bar {
  background-color: @blackColour !important;
}

::ng-deep .mat-tab-label {
  height: 35px !important;
  min-width: 40px !important;
  font-size: 12px;
}

.mat-tab-link {
  display: flex;
  height: 35px;
  min-width: 80px;
}

.mat-tab-group {
  background-color: @backgroundOfPage;
}

.light {
  color: @buttonDashedColour;
  font-size: 23px;
  &:hover {
    color: @blackColour;
    font-size: 25px;
  }

}

.mat-button {
  padding: inherit;
}

@media (max-width: 1000px) {
  .mat-button {
    width: 100%;
  }
}

@media (min-width: 1001px) {
  .mat-button {
    width: 255px;
  }
}

.button-stream {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  transition: .3s all ease;

  &:hover {
    width: 100%;
    background-color: @streamSelect;
    border-right: 4px solid @secondaryTextColor;
    box-sizing: border-box;
    transition: .3s all ease;

    .button-in-the-button {
      display: flex;
      min-width: 35px!important;
      width: 35px;
      height: 35px;
      line-height: 10px;
      margin-right: 10px;
      text-align: center;
      background: @delimiterColor;
      color: @secondaryTextColor;
      font-size: 14px;
      float: right;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        color: @removeBtnTextColor;
        background: @removeBtnBackgroundColor;
      }

      ::ng-deep {
        .mat-button-focus-overlay {
          background: transparent;
        }
      }
    }
  }

  span {
    display: flex;
  }

  .button-in-the-button {
    display: none
  }
}

.active {
  width: 100%;
  background-color: @editBtnBackgroundColor;
  border-right: 4px solid @backgroundBlueColor;
  box-sizing: border-box;

  a {
    color: @backgroundBlueColor;
  }
}

@media (min-width: 1000px) {
  .stream-list-position {
    box-shadow: 3px -1px 5px -1px @shadowColor;
  }
}

@media (min-width: 926px) {
  .stream-list-position {
    position: absolute;
    height: calc(100% - 184px);
  }

  .stream-list {
    width: 255px;
    display: block;
  }
}

@media (max-width: 1001px) {
  .list-style {
    padding-right: 0;
  }

  .create-list {
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  .stream-list-position {
    position: static;
  }

  .stream-list {
    width: 100%;
  }

  .list-style {
    padding-right: 20px;
  }

  .create-list {
    padding-right: 20px;

  }

}

@media (max-width: 665px) {
  .topics {
    overflow-x: auto;
  }
}

.nav-inline {
  display: inline;
}

.list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 201px);
  &::-webkit-scrollbar {
    width: 8px;
    background: @backgroundOfPage;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}

.in-the-button {
  width: 100%;
}

.text-in-the-button {
  display: flex;
  width: calc(100% - 100px);
  padding: 15px 0 15px 40px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700;
  color: @secondaryTextColor;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.add-text-in-the-button {
  margin: 0;
  display: inline-flex;
  padding: 0 0 0 40px;
  font-size: 16px !important;
  line-height: 50px;
  font-weight: 700;
  color: @backgroundBlueColor;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.text-line {
  align-items: center;
  display: inline-flex;
  text-decoration: none;

}

.mat-icon {
  height: 40px;
}

.nav-btn {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  height: 37px;
  width: 117px;
  background-color: @secondaryTextColor;
  color: white;

  &.details-btn {
    bottom: 51px;

    .icon {
      transform: translateY(6px);
    }
  }
}

@media (min-width: 1078px) {
  .details-btn {
    position: fixed;
    left: calc((100% - 795px) / 2 - 143px);
  }
}

@media (max-width: 1077px) {
  .details-btn {
    position: fixed;
  }
}

@media (max-width: 938px) {
  .details-btn {
    position: sticky
  }
}

.unscroll {
  overflow: hidden;
}
