@import '../../../less/variables';

.dialog-input {
  display: block;
  margin: 0 20px 20px 20px;
  width: 520px;

  &:first-child {
    margin-top: 20px;
  }
}

.dialog-date {
  margin: 20px;
  width: 250px;
}

.range-time-wrap {
  margin-left: 20px;
  overflow: auto;

  .dialog-time {
    float: left;
    width: 250px;

    &:last-child {
      margin-left: 20px;
    }
  }
}

.topic-dialog-btn-wrapper {
  margin-top: 20px;
  float: right;
}

.topic-dialog-btn {
  width: 112px;
  height: 38px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 10px;

  &.cancel-btn {
    color: @backgroundBlueColor;
    background-color: @negativeDialog;
    &:hover {
      background-color: rgba(74, 144, 226, 0.15);
    }
  }

  &.save-btn {
    background-color: @backgroundBlueColor;
    color: @whiteColour;
    &:hover {
      background-color: @buttonPrimary;
    }
  }
}

.material-icons {
  font-size: 20px;
  color: @secondaryTextColor;
}

.trigger {
  margin-right: 10px;
}

::ng-deep {
  .k-list-scroller{
    &::-webkit-scrollbar {
      width: 8px;
      background: @backgroundOfPage;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: @secondaryTextColor;
    }
  }
  .k-list .k-item.k-state-selected {
    color: @secondaryTextColor;

    &:hover {
      color: @secondaryTextColor;
    }
  }

  .k-textbox-container {
    width: 100%;
  }

  .k-textbox-container > .k-label {
    color: rgba(0, 0, 0, .54);
  }

  .mat-form-field-infix {
    display: inherit !important;
  }

  .owl-dt-popup {
    width: 250px;
  }
}

textarea.mat-input-element.cdk-textarea-autosize {
  max-height: 100px;
  &::-webkit-scrollbar {
    width: 8px;
    background: @backgroundOfPage;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}

.account-picture {
  user-select: none;
  .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: @speakerIconBackgroundColor;
  }
}

.photo {
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.information {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 10px;
  user-select: none;
  font-size: 14px;
}
