<div class="topic-dialog">
  <mat-form-field class="dialog-input">
    <input required matInput [(ngModel)]="topic.title" #name placeholder="Title" maxlength="255" i18n-placeholder="@@topicTitle">
  </mat-form-field>

  <mat-form-field class="dialog-input topic-description">
    <textarea matInput matTextareaAutosize align="start" #message maxlength="1000"
              [(ngModel)]="topic.description" placeholder="Description" i18n-placeholder="@@topicDescription">
    </textarea>
    <mat-hint align="end">{{message.value.length}} / 1000</mat-hint>
  </mat-form-field>

  <div class="dialog-input">
    <div>
      <kendo-textbox-container floatingLabel="Select speakers" i18n-floatingLabel="@@floatingLabel">
        <kendo-multiselect
          (filterChange)="handleFilter($event)"
          [filterable]="true"
          [data]="filteredUsers"
          [(ngModel)]="topic.users"
          [textField]="'displayName'"
          [valueField]="'username'">
          <ng-template kendoMultiSelectItemTemplate let-dataItem>
            <div *ngIf="!dataItem.image" class="account-picture" fxLayoutAlign="center center">
              <mat-icon class="icon">account_circle</mat-icon>
            </div>
            <span *ngIf="dataItem.image" class="photo" [ngStyle]="{'background-image': 'url(' + dataItem.image + ')'}"></span>
            <div class="content" fxLayout="column">
              <div class="name">
                {{ dataItem.displayName }}
              </div>
            </div>

          </ng-template>
        </kendo-multiselect>
      </kendo-textbox-container>
    </div>
  </div>

  <mat-form-field class="dialog-date">
    <input matInput
           [min]="firstDayOfEvent" [max]="lastDayOfEvent"
           [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="topicDayAndMonth" #date required
           placeholder="Date of topic" i18n-placeholder="@@dateOfTopic">
    <span class="trigger" [owlDateTimeTrigger]="dt3">
        <i class="material-icons">today</i>
    </span>
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
  </mat-form-field>
  <div class="range-time-wrap">
    <mat-form-field class="dialog-time">
      <input matInput [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [(ngModel)]="selectedInputDate" #timeStart required
             placeholder="Start of topic" [selectMode]="'rangeFrom'" i18n-placeholder="@@startOfTopic">
      <span class="trigger" [owlDateTimeTrigger]="dt4">
          <i class="material-icons">access_time</i>
      </span>
      <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
    </mat-form-field>
    <mat-form-field class="dialog-time">
      <input matInput [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" [(ngModel)]="selectedInputDate" #timeEnd required
             placeholder="End of topic" [selectMode]="'rangeTo'" i18n-placeholder="@@endOfTopic">
      <span class="trigger" [owlDateTimeTrigger]="dt5">
          <i class="material-icons">access_time</i>
      </span>
      <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
    </mat-form-field>
  </div>

  <div class="topic-dialog-btn-wrapper">
    <button mat-button class="topic-dialog-btn cancel-btn" (click)="cancel()" i18n="@@streamCancel">Cancel</button>
    <button mat-button class="topic-dialog-btn save-btn" (click)="save(topic)" i18n="@@streamSave">Save</button>
  </div>
</div>
