@import '../../../less/variables';

.center {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header-btn {
  margin-right: 15px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: @whiteColour;
  background-color: @backgroundBlueColor;
  &:hover{
    background-color: @buttonPrimary;
  }

}

.title-name {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.centering {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1254px) {
  .widthchange {
    width: 1182px;
  }
}

@media (max-width: 1254px) {
  .widthchange {
    width: 788px;
  }
}

@media (max-width: 836px) {
  .widthchange {
    width: 394px;
  }
}

@media (max-width: 418px) {
  .widthchange {
    width: 320px;
  }
}

.events-content {
  padding-top: 35px;
  box-sizing: border-box;
}

.container {
  overflow-y: hidden;
  user-select: none;

}

::ng-deep.mat-tab-body.mat-tab-body-active {
  &::-webkit-scrollbar {
    width: 8px;
    background: @backgroundOfPage;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @secondaryTextColor;
  }
}

::ng-deep .mat-tab-body-wrapper {
  height: calc(100% - 183px);

}

::ng-deep .mat-tab-header {

  z-index: 2;
}

::ng-deep .mat-tab-body-content.mat-tab-body-content {
  width: 100%;
  height: inherit;
  top: 188px;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;

}

::ng-deep .mat-tab-header {
  background-color: @whiteColour;
  box-shadow: 0 3px 4px -1px @shadowColor;
}

::ng-deep .mat-tab-group {
  background-color: @backgroundOfPage;
}

.content {
  position: fixed;
  left: 0;
  top: 148px;
  width: 100%;
  height: 100%;
}

.centration {
  margin-top: 35px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}

::ng-deep .mat-ink-bar {
  background-color: @blackColour !important;
}

::ng-deep .mat-tab-label {
  padding: 0 12px !important;
  height: 35px !important;
  min-width: 50px !important;
  font-size: 12px;
}

.headEvents {
  padding-bottom: 0;

  & h3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-left: 25px;
    color: @secondaryTextColor;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.centeron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.warning-empty-list {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  right: 0;
  top: 0;

  .text-warning {
    color: @topicContainer;
    font-size: 22px;
    margin: auto;
  }
}

.link-new-event {
  color: @backgroundBlueColor;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

}

