<div class="container">
  <div class="centering widthchange">
    <div class="centration">
      <h2 class="title-name" i18n="@@events">Events</h2>
      <button #createEventBtn mat-button class="header-btn" (click)="createEvent()" i18n="@@createEvent">Create Event</button>
    </div>
  </div>
  <div class="content" [@.disabled]="true">
    <mat-tab-group class=" tabs">
      <mat-tab class="tab" id=" inheritHeight" i18n-label="@@upcomingEvents" label="UPCOMING">
        <div class="centering widthchange">
          <div class="headEvents clearfix">
          <div class="warning-empty-list">
          <span class="text-warning" *ngIf="(events | filterByPredicate: notPassedEvents | publishedEvents).length === 0 " >
            <div class="text-warning-wraper" i18n="@@thereAreNoUpcomingEvents">
            There are no upcoming events. <br>
            </div>
            <a class="link-new-event" (click)="createEvent()" i18n="@@createNewEvent">Create new event</a></span>
          </div>
          <h3 *ngIf="(events | filterByPredicate: lasting | publishedEvents).length != 0" i18n="@@lastingEvents">Lasting events</h3>
          <app-admin-events-list-item
            *ngFor="let event of  ( events | filterByPredicate: lasting | publishedEvents | sortByDate: 'dateStart' )"
            [event]="event"></app-admin-events-list-item>
          </div>

        <div class="headEvents clearfix">
          <h3 *ngIf="(events | filterByPredicate: onThisMonth | publishedEvents).length != 0" i18n="@@thisMonthEvents">This month events</h3>
          <app-admin-events-list-item
            *ngFor="let event of ( events | filterByPredicate: onThisMonth  | publishedEvents | sortByDate: 'dateStart' )"
            [event]="event"></app-admin-events-list-item>
        </div>

        <div class="headEvents clearfix">
          <h3 *ngIf="(events | filterByPredicate: onNextMonth | publishedEvents).length != 0" i18n="@@nextMonthEvents">Next month events</h3>
          <app-admin-events-list-item
            *ngFor="let event of  ( events | filterByPredicate: onNextMonth | publishedEvents | sortByDate: 'dateStart' )"
            [event]="event"></app-admin-events-list-item>
        </div>
        <div class="headEvents clearfix">
          <h3 *ngIf="(events | filterByPredicate: afterNextMonth | publishedEvents).length != 0" i18n="@@futureEvents">Future Events</h3>
          <app-admin-events-list-item
            *ngFor="let event of  ( events | filterByPredicate: afterNextMonth | publishedEvents | sortByDate: 'dateStart' )"
            [event]="event"></app-admin-events-list-item>
        </div>
  </div>
      </mat-tab>

  <mat-tab class="tab inheritHeight" i18n-label="@@passedLabel" label="PASSED">
    <div class="centering widthchange  events-content">
      <div class="warning-empty-list">
          <span class="text-warning" *ngIf="(events | filterByPredicate: passed  | publishedEvents).length === 0 ">
            <div class="text-warning-wraper" i18n="@@noPassedEvents">There are no passed events. <br>
            </div>

        <a class="link-new-event" (click)="createEvent()" i18n="@@createEvent">Create new event</a></span></div>
      <app-admin-events-list-item
        *ngFor="let event of  ( events | filterByPredicate: passed| publishedEvents | sortByDate: 'dateStart' )"
        [event]="event"></app-admin-events-list-item>

    </div>
  </mat-tab>
  <mat-tab class="tab inheritHeight" i18n-label="@@draftLabel" label="Drafts">
    <div class="centering widthchange  events-content">
      <div class="warning-empty-list">
          <span class="text-warning" *ngIf="(events |  notPublishedEvents).length === 0 ">
            <div class="text-warning-wrapper" i18n="@@noDraftedEvents">
            There are no draft events.<br>
            </div>
        <a class="link-new-event" (click)="createEvent()" i18n="@@createEvent">Create new event</a></span></div>
      <app-admin-events-list-item *ngFor="let event of  ( events | notPublishedEvents | sortByDate: 'dateStart' )"
                                  [event]="event"></app-admin-events-list-item>

    </div>
  </mat-tab>

  <mat-tab class="tab inheritHeight"  i18n-label="@@sharedEvents" label="Shared" *ngIf="sharedEvents.length !== 0">
    <div class=" centering widthchange  events-content">
      <app-admin-events-list-item *ngFor="let event of  ( sharedEvents | sortByDate: 'dateStart' )"
                                  [event]="event"></app-admin-events-list-item>
    </div>
  </mat-tab>

  </mat-tab-group>

</div>

</div>
