@import '../../../less/variables';

.all-page {
  height: 100%;
  background: @backgroundNotAllowed center no-repeat;
  background-size: cover;
  display: flex;

  user-select: none;
}

.info {
  display: inline-flex;
}

.material-icons-new {
  background-size: contain;
  height: 150px;
  width: 150px;
}

.mat-icon {

  font-size: 300px;
  opacity: 0.75;
  width: inherit;
  height: inherit;
  color:@notAllowedErrorFont;
}

.inline-content {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.not-allow{
  height: 350px;
  width: 300px;
  background: @notAllowedIcon center no-repeat;
  background-size: cover;
  display: inline-block;
  opacity: 0.75;

}

.error404 {
  font-size: 124px;
  color: @notAllowedErrorFont;
}

.label-not-page {
  color: @notAllowedErrorFont;
  font-size: 42px;

}

.link-to-main-page {
  font-size: 42px;
  color: @notAllowedErrorFont;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: inherit;
  }
}

.inline-page {
  display: inline-block;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}

