 <div class="wrapper-event-item">
  <div class="wrapper-photo"
       [style.background-image]=
         "!url ? 'url(https://swissdigitalhealth.com/wp-content/uploads/2017/03/conference-showcase-SDH.jpg)' : 'none'" >
   <img *ngIf="url" class="photo-event" [src]='url.downloadUri'>
    <div *ngIf="!url" class="add-image">
      <span class="text-in-add-image" >
        <!--<i class="material-icons">insert_photo</i> -->
        <span i18n="@@noPicture">no picture</span>         </span>
    </div>
  </div>
    <div class="event-item">
  <div class="event-date">
    <h2 class="day">{{event.dateStart | date: 'd'}}</h2>
    <p class="month" *ngIf="event.dateStart != null ">{{(event.dateStart | date: 'MMM').toUpperCase()}}</p>
  </div>
  <div class="event-box">
    <div class="event-content">
      <h2 class="title">{{event.title}}</h2>
      <p class="location" *ngIf="event.location != null">{{event.location.cityName}}</p>
    </div>
    <div class="event-logic">
    <span class="participants">
      <i class="material-icons icon participants-icon">
        people
      </i>
      {{potentialVisiotrs.length}}
    </span>
      <div class="event-buttons">
        <button mat-button class="event-btn remove-btn" (click)="removeEvent()" i18n="@@deleteEvent">Delete</button>
        <button mat-button class="event-btn edit-btn" [routerLink]="[event.id,'details']" i18n="@@editEvent">Edit
        </button>
      </div>
    </div>
  </div>
</div>
 </div>
