@import '../../../less/variables';

.add-image{
  display: inline-grid;
  text-align: center;
  //background-color: rgba(216, 216, 216, 0.25);
  color: @addImageText;
  border-color: @addImageBorder;
  text-transform: uppercase;
  border-radius: 9px;
  height: 200px;
  width: 100%;
  border-style: wave;
  .text-in-add-image {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
  }
  .material-icons{
    font-size: 100px;
  }
  .input-img{
    display: none;
  }
}
.wrapper-photo {
  background-size: cover;
  height: 200px;
  display: flex;
  position: relative;
  &:hover::before li{
    position: absolute;
    color: white;
    right: 50%;
    top: 50%;
      height: 10px;
      width: 10px;
      text-decoration: none;
      background: @wrapperPhoto;

  }
  .photo-event {
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin: auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
}

.wrapper-event-item {
  margin: 15px;

  border-radius: 9px;
  width: calc(100% / 3 - 30px);
  min-height: 231px;
  display: inline-block;
  box-sizing: border-box;

  cursor: default;
  user-select: none;
  border: 1px solid @streamSelect;
  background: @whiteColour;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0;
  }

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    margin-bottom: 25px;
  }

  .event-item {
    padding: 30px 25px 20px;
  }

  .event-date {
    float: left;
    width: 50px;
    height: 100px;

    .day {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      color: @backgroundBlueColor;
    }

    .month {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: @backgroundBlueColor;
    }
  }
}

.event-box {
  display: inline-block;
  width: calc(100% - 60px);

  .event-content {
    padding-bottom: 12px;
    border-bottom: 2px solid @line;

    .title {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      color: @blackColour;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .location {
      height: 19px;
      margin: 0;
      min-height: 15px;
      font-size: 14px;
      text-align: left;
      font-weight: 400;
      color: #4a4a4a;
      word-break: break-word;
    }

    .description {
      margin: 0;
      height: 45px;
      font-size: 14px;
      font-weight: 400;
      color: @description;
      word-break: break-word;
      overflow: hidden;
    }
  }

  .event-logic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    .participants {
      font-size: 12px;
      color: @secondaryTextColor;
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    .participants-icon {
      font-size: 22px;
      margin-right: 5px;
      color: @backgroundBlueColor;
      margin-bottom: 3px;
    }

    .event-buttons {
      float: right;
      display: flex;

      .event-btn {
        width: auto;
        height: 35px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;

        &.remove-btn {
          color: @secondaryTextColor;

          &:hover {
            background: @removeBtnBackgroundColor;
            color: @removeBtnTextColor;

            ::ng-deep {
              .mat-button-focus-overlay {
                background: transparent;
              }
            }
          }
        }

        &.edit-btn {
          background: @editBtnBackgroundColor;
          color: @backgroundBlueColor;
          margin-left: 5px;

          &:hover {
            background-color: @eventBoxHover;
          }
        }
      }
    }
  }
}

@media (max-width: 1254px) {
  .wrapper-event-item {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 836px) {
  .wrapper-event-item {
    width: calc(100% - 30px);
  }
}

.mat-button-focus-overlay {
  opacity: 0 !important;
}
